.body {
  margin-bottom: 200px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #a6a6a6;
}
#Hobby {
  background-color: #a6a6a6;
}
.center-image {
  display: block;
  margin: 0 auto;
  max-width: 60%; /* Menyesuaikan ukuran gambar agar sesuai dengan lebar elemen induk */
  height: auto; 
}
